<app-details-container>
    <app-spacer-container>
        <h5>Alarm #{{index}}</h5>
        <button 
        matTooltip="Delete"
        mat-icon-button 
        color="warn"
        (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>  
    </app-spacer-container>
    <app-details-list [details]="[
        {key: 'Min pulse', value: alarm.minPulse}, {key: 'Max pulse', value: alarm.maxPulse},
        {key: 'Min pressure', value: alarm.minPressure}, {key: 'Max pressure', value: alarm.maxPressure},
        {key: 'Min temperature', value: alarm.minTemperature}, {key: 'Max temperature', value: alarm.maxTemperature},
        {key: 'Min oxygen level', value: alarm.minOxygenLevel}, {key: 'Max oxygen level', value: alarm.maxOxygenLevel}
    ]"></app-details-list>
</app-details-container>