<app-details-container [padding]="false">
    <div class="details">
        <span></span>
        <app-bold-text>
            {{message.date | date: "dd/mm/yyyy HH:mm:ss"}}
        </app-bold-text>
    </div>
    <app-details-list [padding]="true"
    [details]="[
        {key: 'Patient', value: message.patient},
        {key: 'Insured number', value: message.insuredNumber}]"
    [mainDetails]="[
        {key: 'Pulse', value: message.pulse},
        {key: 'Pressure', value: message.pressure},
        {key: 'Temperature', value: message.temperature},
        {key: 'Oxygen level', value: message.oxygenLevel}]"
    ></app-details-list>
</app-details-container>