<div class="root">
    <div class="left">
        <app-list-container title="NO MESSAGES" [pending]="pending" [empty]="!messages.length" 
        [refresh]="true" [pagination]="pagination" (changedPage)="changePage($event)">
            <app-details-container 
            *ngFor="let message of messages"
            [date]="message.date"
            [details]="[
                {key: 'Patient', value: message.patient},
                {key: 'Insured number', value: message.insuredNumber}]"
            [mainDetails]="[
                {key: 'Pulse', value: message.pulse},
                {key: 'Pressure', value: message.pressure},
                {key: 'Temperature', value: message.temperature},
                {key: 'Oxygen level', value: message.oxygenLevel}]"
            ></app-details-container>
        </app-list-container>
    </div>
    <div class="right">
        <app-message-search [pending]="pending" 
        (searchTriggered)="search = $event; fetchMessages()"></app-message-search>
    </div>
</div>

