<div class="root">
    <div class="left">
        <app-list-container title="NO MESSAGES" [pending]="pending" [empty]="!messages.length" 
        [refresh]="true" [pagination]="pagination" (changedPage)="changePage($event)">
            <app-message-details
            *ngFor="let message of messages"
            [message]="message"
            ></app-message-details>            
        </app-list-container>
    </div>
    <div class="right">
        <app-message-search [pending]="pending" 
        (searchTriggered)="search = $event; fetchMessages()"></app-message-search>
    </div>
</div>

