<app-dialog title="Create new alarm" [pending]="pending" 
[disabled]="alarmForm.invalid" (confirmed)="confirm()">
    <form [formGroup]="alarmForm" [class.disabled]="pending">
        <div>
            <span>Status: </span>
            <select
            formControlName="status"
            [classList]="'form-control'">
                <option value="" hidden>Select log status</option>
                <option>SUCCESS</option>
                <option>INFO</option>
                <option>WARNING</option>
                <option>ERROR</option>
                <option>FATAL</option>
            </select>    
        </div>
        <div>
            <span>Counts: </span>
            <input
            appOnlyNumbers
            formControlName="counts"
            [classList]="'form-control'"
            placeholder="Enter number of counts">     
        </div>
    </form>
</app-dialog>
