<app-preloader *ngIf="fetchPending"></app-preloader>
<app-empty-container *ngIf="!fetchPending && !alarmTriggerings.length" 
[title]="'NO ALARMS'"></app-empty-container>    

<div class="main" *ngIf="!fetchPending && alarmTriggerings.length">
    <app-paginator
    [refresh]="true"
    [pending]="fetchPending"
    [pagination]="pagination"
    (changedPage)="changePage($event)"
    ></app-paginator>
    <cdk-virtual-scroll-viewport [itemSize]="10" class="scroller">
        <app-alarm-triggering-details
        *ngFor="let alarmTriggering of alarmTriggerings"
        [alarmTriggering]="alarmTriggering"
        ></app-alarm-triggering-details>            
    </cdk-virtual-scroll-viewport>        
</div>