<app-dialog-container title="Create new alarm" [pending]="savePending" 
[disabled]="alarmForm.invalid" (confirmed)="confirm()">
    <form [formGroup]="alarmForm">
        <mat-slide-toggle formControlName="status">
            {{alarmForm.controls.status.value ? 
                'Alarm for tracking logs status' : 
                'Alarm for tracking logs description'}}
        </mat-slide-toggle>
        <br><br>
        <div>
            <span>Param: </span>
            <select
            *ngIf="alarmForm.controls.status.value"
            formControlName="param"
            [classList]="'form-control'">
                <option value="" hidden>Select search param</option>
                <option>INFO</option>
                <option>WARNING</option>
                <option>ERROR</option>
                <option>FATAL</option>
            </select>    
            <select
            *ngIf="!alarmForm.controls.status.value"
            formControlName="param"
            [classList]="'form-control'">
                <option value="" hidden>Select search param</option>
                <option>Login with wrong credentials</option>
                <option>Forbidden patients view</option>
                <option>Forbidden messages view</option>
                <option>Forbidden logs view</option>
                <option>Forbidden alarms view</option>
            </select>    
        </div>
        <br>
        <div>
            <span>Counts: </span>
            <input
            appOnlyNumbers
            formControlName="counts"
            [classList]="'form-control'"
            placeholder="Enter number of counts">     
        </div>
    </form>
    <br><br>
</app-dialog-container>
