<app-details-container>
    <app-spacer-container>
        <h5>Alarm #{{index}}</h5>
        <button 
        matTooltip="Delete"
        mat-icon-button 
        color="warn"
        (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>  
    </app-spacer-container>
    <app-details-list [details]="[
        {key: 'Tracking field', value: alarm.status ? 'ALARM STATUS' : 'ALARM DESCRIPTION'},
        {key: 'Search parameter', value: alarm.param}, {key: 'Minimum count of events', value: alarm.counts}
    ]"></app-details-list>
</app-details-container>