<br><br>
<app-paginator
[alarm]="alarm"
(alarmWanted)="alarmWanted.emit()"
[refresh]="refresh"
[pending]="pending"
[pagination]="pagination"
(changedPage)="changedPage.emit($event)"
></app-paginator>

<cdk-virtual-scroll-viewport [itemSize]="10" class="scroller">
    <app-preloader *ngIf="pending"></app-preloader>
    <app-empty-container *ngIf="!pending && empty" 
    [title]="title"></app-empty-container>    
    <div *ngIf="!pending" class="content">
        <ng-content></ng-content>
    </div>
</cdk-virtual-scroll-viewport>
