<div [class.center]="empty || pending">
    <app-paginator
    [pending]="pending"
    [refresh]="refresh"
    [alarm]="alarm"
    [pagination]="pagination"
    (changedPage)="changedPage.emit($event)"
    (alarmWanted)="alarmWanted.emit()"
    ></app-paginator>
    <app-preloader *ngIf="pending"></app-preloader>
    <app-empty-container *ngIf="!pending && empty" 
    [title]="title"></app-empty-container>                
</div>

<cdk-virtual-scroll-viewport [itemSize]="10" class="scroller">
    <div *ngIf="!pending" class="content">
        <ng-content></ng-content>
    </div>
</cdk-virtual-scroll-viewport>
