.paginator{
    text-align: center;
}

button{
    width: 30px;
    height: 30px;
    line-height: 30px;
}

button .mat-icon{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
}
