<app-spacer-container>
    <span cdkFocusInitial></span>
    <button 
    mat-icon-button 
    (click)="dialogRef.close()">
        <mat-icon matTooltip="close">close</mat-icon>
    </button>        
</app-spacer-container>

<app-preloader *ngIf="fetchPending"></app-preloader>
<app-empty-container *ngIf="!fetchPending && !alarms.length" 
[title]="'NO ALARMS'"></app-empty-container>    

<br><div class="paginator">
    <app-paginator
    [pending]="fetchPending"
    [pagination]="pagination"
    (changedPage)="changePage($event)"
    ></app-paginator>
</div>

<div *ngIf="!fetchPending && alarms.length">
    <app-admin-alarm-details
    *ngFor="let alarm of alarms; let i = index"
    [alarm]="alarm"
    [index]="i + 1"
    ></app-admin-alarm-details>
    <div *ngIf="alarms.length < 10">
        <br><br><br><br><br>
    </div>
</div>
