<app-form-container>
    <form [formGroup]="searchForm">
        <div [class.disabled]="fetchPending">
            <h2>Log Search</h2>
            <br><br>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <input 
                formControlName="status" 
                matInput 
                placeholder="Enter status">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input 
                formControlName="description" 
                matInput 
                placeholder="Enter description">
            </mat-form-field>
            <mat-form-field>
                <mat-label>User name</mat-label>
                <input 
                formControlName="userName" 
                matInput 
                placeholder="Enter user name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Computer name</mat-label>
                <input 
                formControlName="computerName" 
                matInput 
                placeholder="Enter computer name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Service name</mat-label>
                <input 
                formControlName="serviceName" 
                matInput 
                placeholder="Enter service name">
            </mat-form-field>
        </div>
        <br><br>
        <app-spacer-container>
            <span></span>
            <span>
                <button 
                *ngIf="!fetchPending"
                mat-raised-button 
                color="primary"
                (click)="searchTriggered.emit(searchForm.value)">Search</button>
                <app-spinner-button *ngIf="fetchPending"></app-spinner-button>    
            </span>
        </app-spacer-container>        
    </form>
</app-form-container>
