@import "./theme";

.snackbar-success{
    background-color: #7cda7c;
    color: whitesmoke;
}

.snackbar-error{
    background-color: $warn;
    color: whitesmoke;
}

.mat-simple-snackbar-action{
    color: black;
}

.no-padding .mat-dialog-container{
    padding: 0;
    overflow: hidden;
}
