@import "../../../../styles/theme";

.left{
    flex: 1;
}

.right{
    flex: 1;
}

.mat-icon{
    height: 3.5rem;
    width: 3.5rem;
    font-size: 3.5rem;
}

.small{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.5rem;
}

.refresh{
    color: rgb(204, 25, 25);
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
}
