<div>
    <app-list-container title="NO ALARMS" [pending]="pending" [empty]="!alarmTriggerings.length" 
    [pagination]="pagination" [refresh]="true" (changedPage)="changePage($event)">
        <app-details-container 
        *ngFor="let alarmTriggering of alarmTriggerings"
        [date]="alarmTriggering.date" [warn]="true"
        [details]="[
            {key: 'Patient', value: alarmTriggering.patient},
            {key: 'Insured number', value: alarmTriggering.insuredNumber}]"
        [mainDetails]="[{key: 'Message', value: alarmTriggering.message}]"
        ></app-details-container>
    </app-list-container>
</div>