<app-details-container [padding]="false">
    <div class="details">
        <span></span>
        <app-bold-text>
            {{log.date | date: "dd/mm/yyyy HH:mm:ss"}}
        </app-bold-text>
    </div>
    <app-details-list [padding]="true"
    [details]="[
        {key: 'Status', value: log.status}, {key: 'User', value: log.userName},
        {key: 'Computer', value: log.computerName}, {key: 'Service', value: log.serviceName}]"
    [mainDetails]="[{key: 'Description', value: log.description}]"
    ></app-details-list>
</app-details-container>