<mat-toolbar color="primary" class="mat-elevation-z24">
    <span>
        <button
        *ngIf="onRoute('patient-list')"
        matTooltip="New Patient"
        mat-button
        (click)="createPatient()">
            New Patient
        </button>
        <button
        *ngIf="!onRoute('patient-list') && !onRoute('form')"
        matTooltip="Patients"
        mat-button
        [routerLink]="'patient-list'">
            Patients
        </button>
        <button
        *ngIf="onRoute('patient-list') || onRoute('alarm-triggering-list')"
        matTooltip="Messages"
        mat-button
        [routerLink]="'message-list'">
            Messages
        </button>
        <button
        *ngIf="onRoute('patient-list') || onRoute('message-list')"
        matTooltip="Alarms"
        mat-button
        [routerLink]="'alarm-triggering-list'">
            Alarms
        </button>
    </span>
    <span class="main">
        <form *ngIf="onRoute('patient-list')" (ngSubmit)="announceSearchData()">
            <input
            [formControl]="search"
            [classList]="'form-control'"
            placeholder="Search...">   
        </form>
        <button *ngIf="!onRoute('form')" mat-icon-button [matMenuTriggerFor]="more">
            <mat-icon matTooltip="More">more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
            <button mat-menu-item (click)="signOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>
