<mat-toolbar class="mat-elevation-z24">
    <span>
        <button
        *ngIf="!onRoute('patient-list')"
        [routerLink]="'patient-list'"
        mat-button
        matTooltip="Patients">
            Patients
        </button>
        <button
        *ngIf="onRoute('patient-list')"
        (click)="openPatientForm()"
        mat-button
        matTooltip="New Patient">
            New Patient
        </button>
        <button
        *ngIf="onRoute('patient-list') || onRoute('alarm-triggering-list')"
        [routerLink]="'message-list'"
        mat-button
        matTooltip="Messages">
            Messages
        </button>
        <button
        *ngIf="onRoute('patient-list') || onRoute('message-list')"
        [routerLink]="'alarm-triggering-list'"
        mat-button
        matTooltip="Alarms">
            Alarms
        </button>
    </span>
    <span class="main">
        <form *ngIf="onRoute('patient-list')" (ngSubmit)="announceSearchData()">
            <input
            [formControl]="search"
            [classList]="'form-control'"
            placeholder="Search...">   
        </form>
        <button [matMenuTriggerFor]="more" mat-icon-button matTooltip="More">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
            <button (click)="signOut()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>
