<mat-toolbar color="primary" class="mat-elevation-z24">
    <span>
        <button
        matTooltip="Register new patient"
        *ngIf="onRoute('patient-list')"
        mat-button
        [routerLink]="'patient-form'"
        (click)="createPatient()">
            New medical record
        </button>
    </span>
    <span class="main">
        <form *ngIf="onRoute('patient-list')" (ngSubmit)="announceSearchData()">
            <input
            *ngIf="onRoute('patient-list')"
            [formControl]="search"
            [classList]="'form-control'"
            matInput 
            autocomplete="off"
            placeholder="Search...">   
        </form>
        <button *ngIf="!onRoute('patient-form')" mat-icon-button [matMenuTriggerFor]="more">
            <mat-icon matTooltip="More">more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
            <button mat-menu-item (click)="signOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>
