<div class="p-card p-mt-4 p-mx-4 p-shadow-3">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <span class="p-d-flex p-ai-center">
        <button *ngIf="activeIndex !== 2" pButton label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        <p-progressSpinner class="p-as-center"
                           [style]="{width: '30px', height: '30px', 'margin-left': '1rem'}"
                           *ngIf="loadingTab"
        ></p-progressSpinner>
      </span>
    </ng-template>
    <ng-template pTemplate="right">
      Current CA:
      <button pButton [label]="!!ca ? ca.commonName : 'Details'" class="p-button p-button-outlined p-ml-3" (click)="openDetails(ca)"></button>
      <button *ngIf="caAlias.getValue() !== 'root'"
              pButton
              label="Reset"
              class="p-button p-button-warning p-ml-3"
              (click)="resetCA()"
      ></button>
    </ng-template>

  </p-toolbar>

  <p-tabMenu [model]="tabItems" [activeItem]="tabItems[activeIndex]"></p-tabMenu>
  <div>
    <div *ngIf="activeIndex === 0">
      <app-table-view [templates]="templates"
                      [caAlias]="caAlias.getValue()"
                      (switchCA)="this.switchCA($event)"
                      (revokeCertificate)="this.openRevoke($event)"
                      (openDetails)="this.openDetails($event)"
                      (downloadCrt)="this.downloadCrt($event)"
                      (downloadKey)="this.downloadKey($event)"
                      #table
      >
      </app-table-view>
    </div>
    <div *ngIf="activeIndex === 1">
      <app-tree-view [caAlias]="caAlias.getValue()"
                     (switchCA)="this.switchCA($event)"
                     (revokeCertificate)="this.openRevoke($event)"
                     (openDetails)="this.openDetails($event)"
                     (downloadCrt)="this.downloadCrt($event)"
                     (downloadKey)="this.downloadKey($event)"
                     #tree
      ></app-tree-view>
    </div>
    <div *ngIf="activeIndex === 2">
      <app-request-view [templates]="templates"
                      (openRequest)="this.openRequest($event)"
                      #requestsTable
      >
      </app-request-view>
    </div>
  </div>

</div>

<p-dialog [(visible)]="detailsDialog" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="header">
    <span class="p-text-left p-align-center p-d-flex">
      <img src="../../../../assets/certificate-icon.png" alt="certificate" height="30" width="30">
      <span class="p-ml-3">Certificate: <span class="p-text-bold">{{certificate.alias}}</span></span>
    </span>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="p-m-2 p-p-2 details-content">
      <div class="p-grid">
        <div class="p-col-12 p-lg-6">
          <span class="p-text-light">Common name: </span> <span class="p-text-bold">{{certificate.commonName}}</span>
        </div>
        <div class="p-col-12 p-lg-6">
          <span class="p-text-light">Alias: </span> <span class="p-text-bold">{{certificate.alias}}</span>
        </div>
        <div class="p-col-12 p-lg-6">
          <span class="p-text-light">Organization: </span> <span class="p-text-bold">{{certificate.organization}}</span>
        </div>
        <div class="p-col-12 p-lg-6">
          <span class="p-text-light">Organization unit: </span> <span
          class="p-text-bold">{{certificate.organizationUnit}}</span>
        </div>
        <div class="p-col-12 p-lg-6">
          <span class="p-text-light">Country code:</span> <span class="p-text-bold">{{certificate.country}}</span>
        </div>
        <div class="p-col-12 p-lg-6">
          <span class="p-text-light">Email: </span> <span class="p-text-bold">{{certificate.email}}</span>
        </div>
      </div>
      <hr>

      <div class="p-grid p-justify-around p-mt-3">
        <div class="p-col p-text-left p-as-center p-lg-12">
          <span class="p-text-light">Has basic constaints: </span> <span class="p-text-bold">{{certificate.extensions.basicConstraints ? 'YES' : 'NO'}}</span>
        </div>
        <div class="p-col p-text-left p-as-center p-lg-12">
<!--          <span class="p-text-light">Key usage: </span> <span class="p-text-bold">{{certificate.keyUsage}}</span>-->
        </div>
        <div class="p-col p-text-left p-as-center p-lg-12">
<!--          <span class="p-text-light">Extended key usage: </span> <span class="p-text-bold">{{certificate.extendedKeyUsage ? certificate.extendedKeyUsage : 'NONE'}}</span>-->
        </div>

      </div>
      <hr>

      <div class="p-grid p-justify-around p-mt-3">
        <div class="p-col p-text-left p-as-center">
          <span class="p-text-light">Issued by: </span> <span class="p-text-bold">{{certificate.issuerAlias}}</span>
        </div>
        <div class="p-col p-d-flex p-ai-center">
          <p-chip *ngIf="caAlias.getValue() === certificate.alias; else noBadge"
                  [label]="getTemplate(certificate.template).label" [icon]="getTemplate(certificate.template).icon"
                  pBadge></p-chip>
          <ng-template #noBadge>
            <p-chip [label]="getTemplate(certificate.template).label"
                    [icon]="getTemplate(certificate.template).icon"></p-chip>
          </ng-template>
          <p-badge class="p-ml-4" [value]="certificate.revoked ? 'REVOKED' : 'VALID'"
                   [severity]="certificate.revoked ? 'danger' : 'success'"></p-badge>
        </div>
      </div>

    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton  label="Close" icon="pi pi-times" class="p-button p-button-text" (click)="hideDetails()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="revokeDialog" [style]="{width: '600px'}" header="Revoke certificate" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field reason">
      <label for="reason">Reason</label>
      <textarea class="reason" pInputText id="reason" [(ngModel)]="revoke.reason" required autofocus></textarea>
      <small class="p-error" *ngIf="submitted && !revoke.reason">Reason for revocation is required.</small>
    </div>
    <hr>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton  label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideRevoke()"></button>
    <button pButton  label="Save" icon="pi pi-check" class="p-button-text" (click)="revokeCertificate()"></button>
  </ng-template>
</p-dialog>
