div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 480px;
}

.mat-spinner{
    opacity: 0.6;
}
