<app-list-container title="NO ALARMS" [pending]="pending" 
[empty]="!alarms.length" [pagination]="pagination" (changedPage)="changePage($event)">
    <app-details-container 
    *ngFor="let alarm of alarms; let i = index"
    [delete]="'Alarm #' + (i + 1)" (deleted)="delete(alarm.id)" 
    [details]="[
        {key: 'Tracking field', value: alarm.status ? 'ALARM STATUS' : 'ALARM DESCRIPTION'},
        {key: 'Search parameter', value: alarm.param}, {key: 'Minimum count of events', value: alarm.counts}
    ]"></app-details-container>
</app-list-container>
