<mat-toolbar class="mat-elevation-z24">
    <span>
        <button
        *ngIf="!onRoute('login') && !onRoute('report')"
        [routerLink]="'report'"
        mat-button
        matTooltip="Dashboard">
            Dashboard
        </button>
        <button
        *ngIf="onRoute('report')"
        [routerLink]="'log-list'"
        mat-button
        matTooltip="Logs">
            Logs
        </button>
        <button
        *ngIf="onRoute('report')"
        [routerLink]="'alarm-triggering-list'"
        mat-button
        matTooltip="Alarms">
            Alarms
        </button>
        <button
        *ngIf="onRoute('alarm-triggering-list')"
        (click)="openAlarmForm()"
        mat-button
        matTooltip="Add alarm">
            Add alarm
        </button>
        <button
        *ngIf="onRoute('alarm-triggering-list')"
        (click)="openAlarmList()"
        mat-button
        matTooltip="Alarms list">
            Alarms list
        </button>
        <button
        *ngIf="onRoute('report')"
        (click)="openCertificateForm()"
        mat-button
        matTooltip="Certificate request">
            Certificate request
        </button>
        <button
        *ngIf="onRoute('report')"
        (click)="openRevokeForm()"
        mat-button
        matTooltip="Revoke certificate request">
            Revoke certificate request
        </button>
    </span>
    <span>
        <button *ngIf="!onRoute('login')" [matMenuTriggerFor]="more" mat-icon-button matTooltip="More">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
            <button (click)="signOut()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>
