<mat-toolbar color="primary" class="mat-elevation-z24">
    <span>
        <button
        matTooltip="List all logs"
        *ngIf="!onRoute('log-list') && !onRoute('form')"
        mat-button
        [routerLink]="'log-list'">
            Logs
        </button>
        <button
        matTooltip="List all alarms"
        *ngIf="!onRoute('alarm-triggering-list') && !onRoute('form')"
        mat-button
        [routerLink]="'alarm-triggering-list'">
            Alarms
        </button>
        <button
        matTooltip="Add alarm"
        *ngIf="onRoute('alarm-triggering-list')"
        mat-button
        (click)="addAlarm()">
            Add alarm
        </button>
        <button
        matTooltip="List alarms"
        *ngIf="onRoute('alarm-triggering-list')"
        mat-button
        (click)="listAlarms()">
            List alarms
        </button>
        <button
        matTooltip="Report"
        *ngIf="!onRoute('login') && !onRoute('report') && !onRoute('alarm-triggering-list')"
        mat-button
        [routerLink]="'report'">
            Report
        </button>
        <button
        matTooltip="Certificate request"
        *ngIf="onRoute('report')"
        mat-button
        [routerLink]="'certificate-form'">
            Certificate request
        </button>
    </span>
    <span>
        <button *ngIf="!onRoute('form')" mat-icon-button [matMenuTriggerFor]="more">
            <mat-icon matTooltip="More">more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
            <button mat-menu-item (click)="signOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>
