@import "../../../../styles/theme";

.left{
    margin-left: 80px;
}

.right{
    margin-right: 80px;
}

.mat-icon{
    color: $main;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 3.5rem;
}

.small{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.5rem;
}

.more{
    color: rgba(204, 25, 25, 0.842);
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
}
