<app-spacer-container>
    <span class="left" cdkFocusInitial>
        <button 
        *ngIf="!pending && !pagination.firstPage" 
        (click)="changedPage.emit(-1)"
        mat-icon-button
        matTooltip="Previous page">
            <mat-icon [class.small]="small">navigate_before</mat-icon>
        </button>
    </span>
    <span *ngIf="refresh && !pending && !pagination.pageNumber">
        <button 
        (click)="changedPage.emit(0)"
        mat-icon-button 
        matTooltip="Refresh">
            <mat-icon class="more">autorenew</mat-icon>
        </button>
    </span>
    <span *ngIf="alarm && !pending">
        <button 
        (click)="alarmWanted.emit()"
        mat-icon-button
        matTooltip="Add alarm">
            <mat-icon class="more">alarm_on</mat-icon>
        </button>
    </span>
    <span class="right">
        <button 
        *ngIf="!pending && !pagination.lastPage" 
        (click)="changedPage.emit(1)"
        mat-icon-button
        matTooltip="Next page">
            <mat-icon [class.small]="small">navigate_next</mat-icon>
        </button>
    </span>
</app-spacer-container>    
