<app-spacer-container>
    <span class="left">
        <button 
        *ngIf="!pending && !pagination.firstPage"
        mat-icon-button 
        (click)="changedPage.emit(-1)">
            <mat-icon [class.small]="small" color="primary" matTooltip="Previous page">navigate_before</mat-icon>
        </button>
    </span>
    <span *ngIf="refresh">
        <button 
        *ngIf="!pending && !pagination.pageNumber"
        mat-icon-button 
        (click)="changedPage.emit(0)">
            <mat-icon class="refresh" matTooltip="Refresh">autorenew</mat-icon>
        </button>
    </span>
    <span *ngIf="alarm">
        <button 
        *ngIf="!pending"
        mat-icon-button 
        (click)="alarmWanted.emit()">
            <mat-icon class="alarm" matTooltip="Add alarm">alarm_on</mat-icon>
        </button>
    </span>
    <span class="right">
        <button 
        *ngIf="!pending && !pagination.lastPage"
        mat-icon-button 
        (click)="changedPage.emit(1)">
            <mat-icon [class.small]="small" color="primary" matTooltip="Next page">navigate_next</mat-icon>
        </button>
    </span>
</app-spacer-container>    
