<div class="root">
    <div class="left">
        <app-list-container title="NO LOGS" [pending]="fetchPending" [empty]="!logs.length" 
        [refresh]="true" [pagination]="pagination" (changedPage)="changePage($event)">
            <app-log-details
            *ngFor="let log of logs"
            [log]="log"
            ></app-log-details>            
        </app-list-container>
    </div>
    <div class="right">
        <app-log-search [fetchPending]="fetchPending" 
        (searchTriggered)="search = $event; fetchLogs()"></app-log-search>
    </div>
</div>