.root{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
}

.left{
    width: 48%;
}

.right{
    width: 40%;
    margin-top: 20px;
}
