<div class="root">
    <div class="left">
        <app-list-container title="NO LOGS" [pending]="pending" [empty]="!logs.length" 
        [refresh]="true" [pagination]="pagination" (changedPage)="changePage($event)">
            <app-details-container 
            *ngFor="let log of logs"
            [date]="log.date"
            [details]="[{key: 'Mode', value: log.mode}, {key: 'Status', value: log.status}, {key: 'IP address', value: log.ipAddress}]"
            [mainDetails]="[{key: 'Description', value: log.description}]"
            ></app-details-container>
        </app-list-container>
    </div>
    <div class="right">
        <app-log-search [pending]="pending" 
        (searchTriggered)="search = $event; fetchLogs()"></app-log-search>
    </div>
</div>