<app-details-container [padding]="false">
    <div class="details">
        <span></span>
        <app-bold-text>
            {{alarmTriggering.date | date: "dd/mm/yyyy HH:mm:ss"}}
        </app-bold-text>
    </div>
    <app-details-list [padding]="true"
    [details]="[
        {key: 'Patient', value: alarmTriggering.patient},
        {key: 'Insured number', value: alarmTriggering.insuredNumber}]"
    [mainDetails]="[{key: 'Message', value: alarmTriggering.message}]"
    ></app-details-list>
</app-details-container>