@import "../../../styles/theme";


table{
    background-color: whitesmoke;
}

thead > tr > th, td{
    text-align: center;
}

th, td{
    width: 50%;
    height: 75px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 70px;
    margin-left: 120px;
    margin-right: 0;
}

.left{
    width: 45%;
}

.right{
    width: 55%;
}
