@import "../../../../styles/theme";


table{
    background-color: whitesmoke;
}

thead > tr > th, td{
    text-align: center;
}

th, td{
    width: 50%;
    height: 75px;
}

.root{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 85%;
    width: 100%;
}

.left{
    width: 45%;
    margin-left: 120px;
}

.right{
    width: 55%;
}
