@import "../../../../styles/theme";

.root{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85%;
    width: 100%;
    margin: 0 auto;
}

.left{
    width: 45%;
    margin-left: 120px;
}

.right{
    width: 55%;
}

table{
    background-color: white;
}

thead th, td{
    text-align: center;
}

th, td{
    width: 50%;
    height: 75px;
}
