<div class="main">
    <div class="left">
        <app-preloader *ngIf="fetchPending"></app-preloader>
        <app-empty-container *ngIf="!fetchPending && !messages.length" 
        [title]="'NO MESSAGES'" [transparent]="true"></app-empty-container>    
        <div *ngIf="!fetchPending && messages.length">
            <app-paginator
            [pending]="fetchPending"
            [pagination]="pagination"
            (changedPage)="changePage($event)"
            ></app-paginator>
            <cdk-virtual-scroll-viewport [itemSize]="10" class="scroller">
                <app-message-details
                *ngFor="let message of messages"
                [message]="message"
                ></app-message-details>            
            </cdk-virtual-scroll-viewport>        
        </div>
    </div>
    <div class="right">
        <br>
        <app-search-form [fetchPending]="fetchPending" 
        (searchTriggered)="search = $event; fetchMessages()"></app-search-form>
    </div>
</div>